// Define Common Styles --------------------
*{
    font-family: 'TT Firs Neue';
}

h1,h2,h3,h4,h5,h6,p{

    font-style: normal;
    color: #0A0A0A;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

.container-banner,
.container-full{
    padding: 0 60px;
    position: relative;
    width: 100%;
    display: block;
}

.container-banner{
    padding: 0 120px;
}

.pt-60{
    padding-top: 60px;
}

.anim-e{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}